/* Estilo general */
:root {
    --bulma-primary-h: 0deg;
    --bulma-primary-s: 0%;
    --bulma-primary-l: 100%;
}
/* Estilo del banner */
.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('../img/Belyni.gif') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 2rem;
    text-align: center;
    height: auto;
    max-width: 100%;
}
/* Estilo del texto del banner */
/*.hero h1, .hero h2{
    color: #FF69B4;
    background-image: linear-gradient(315deg, #FF69B4 , #FF61A7 , #FF589A , #FF4F8D , #FF4680 , #FF3D73 , #FF3466 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

/* Animación al cargar */
body.is-loading .hero {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
body:not(.is-loading) .hero {
    opacity: 1;
    transform: translateY(0);
}
/* Estilo imagen navbar */
.navbar-brand img {
    max-width: 100%;
    height: auto;
    max-height: 3.5rem;
}
/* Botón flotante WhatsApp */
#whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    font-size: 1.5rem;
}
/* Solo visible en móvil */
#mobile-service-images { display: none; }
@media (max-width: 768px) {
    #mobile-service-images { display: block; }
}
/* Banner viewport mas grande en pantallas grande */
@media (min-width: 769px) {
    .hero {
        height: 80vh;
    }
    footer iframe {
        height: 350px;
    }
}
/* Mapa */